*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
p, a, span, div{
    font-size: 1.25rem
}
ul{
    list-style: none;
}
.bold{
    font-weight: bold;
}
a{
    text-decoration: none;
}
a{
    color:white;
}
/* a:active{} */
/* a:visited{} */
a:hover{}
img{ max-width: 100%; }
.text-gold{color:#D4A750;}
.text-dark{color:#000000;}
.text-white{color:white;}
.bg-gold{background-color: #D4A750;}
.bg-dark{background-color: black;}
.container{ width:90%; margin: 0 auto;}
.d-flex{ display: flex;}
.space-between{ justify-content: space-between;}
.py-1{ padding: 1% 0;}
#logo{ width:4.5rem;}
.active{
    color: #D4A750;
}
/* .nav-item { 
    margin: 0 2%;
} */
/* .nav-item:hover{
    background-color: #D4A750;
    color: #000000;
} */
.nav-items{
    width:40%;
    align-self: center;
}
.nav-items ul{
    width:100%
}
.drop-down{
    display: none;
}
#hero{
    min-height: 35rem;
    background-image: url(../images/1.jpg);
    background-size:100% 100% ;
}
.hero-text{
    color: white;
    padding-top: 15rem;
}