/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
/*  png jpg jpeg    webp   svg  gif */
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
    height: 2000px;
}
/* .myPr{ */
    /*font-size:1rem;*/ /*large;*/ /*px rem em*/
    /* color: red;
    font-style:italic; oblique   normal
    font-weight: 900;
    font-variant: small-caps; */
    /* font : italic small-caps bold 30px arial */
    /* color : white;
    background-color: blue; */
    /* background: black; */
    /* height: 500px;
    width:400px;
    background-image: url("../images/bg.jpg"); */
    /* background-size: cover; contain ;100% 100%; */
    /* background-repeat: no-repeat;
    background-position: right bottom;
} */
/* div{
    height: 12rem;
    background-image: url("../images/bg5.jpg");
    background-attachment: fixed;
} */

/* div{ */
    /* height: 12.5rem;
    width: 12.5rem; */
    /* border: black solid 0.3rem; */
    /* border-style: solid;
    border-color: blue;
    border-width: 3px; */

    /* border-left: solid black 5px;
    border-right: dotted red 15px;
    border-bottom: dashed blue 10px;
    border-top: none black 5px; */
    /* border-radius: 50%; */
    /* border-radius: 50% 0 50% 0; */
    /* border: solid black 5px

}
span{
    border: solid black 5px;
    height: 300px;
    width:200px
} */

.card{
    /* height: 12.5rem; */
    width:32%;
    border: solid black 5px;
    display: inline-block;
    /* padding: 5%; */
    /* margin: 3%; */
    overflow: scroll;
}
.card img{
    display: inline-block;
    width: 100%;
}


.text-center{ text-align: center;}
.justify{text-align: justify;}
.img-fluid{ width: 100%; height: auto;}
.main-color{ color: teal;}
.my{ margin: 5% auto}
.mainbg{background-color: #f5f5f5;}
.container{ width: 90%;}
.main-heading{ margin-bottom: 1.5%;}
.row{padding: 0;margin: 0;}
.col-4{ 
    width: 30%;
    margin: 0; padding: 0;
    display: inline-block;
    box-sizing: border-box;
    border: solid 2px black
}
.col-3{width:25%}
.col-6{width:49%; display: inline-block;}

.content-padding{ 
    padding: 2%;
    height: 100px;
    line-height: 25px;
    overflow: hidden;
    /* vertical-align: middle; */
}