*{
    font-family: "Rubik", sans-serif;
}
:root{
    --primary-color: #f63a61;
    --dark-color:#111827;
}
#logo{
    width: 7rem;
}
.main-color, .nav-link{
    color: var(--dark-color)!important;
}
.my-color{
    color:var(--primary-color)!important;
}
.my-bg{
    background-color: var(--primary-color)!important;
}
.top-85{
    top: 85%!important;
}
.start-25{
    left: 25%!important;
}